body {
  background-image: url("https://img.freepik.com/vector-gratis/salud-ciencia-medica-elegante_1419-2183.jpg");
  font-family:
    Time New Roman,
    Time new Roman;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

header {
  width: 100%;
  display: flex;
  background-color: #24d8c0;
  color: #000000;
  padding: 10px 0;
}

header h1 {
  color: #fff;
  margin: 0;
  padding: 0;
}

nav button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #0056b3;
}

.container2 {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}

h1,
h2 {
  color: #333;
}

.description {
  font-style: italic;
  margin-bottom: 20px;
}

p,
ol,
ul {
  display: grid;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background: rgb(17, 93, 168);
  color: white;
  text-align: center;
  width: 100%;
}
