body {
  background-image: url("https://img.freepik.com/vector-gratis/salud-ciencia-medica-elegante_1419-2183.jpg");
  font-family:
    Time New Roman,
    Time new Roman;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

header {
  width: 100%;
  display: flex;
  background-color: #24d8c0;
  color: #000000;
  padding: 10px 0;
}

header h1 {
  margin: 0;
  padding: 0;
}

nav button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #0056b3;
}

.container2 {
  max-width: 600px;
  margin: 50px auto;
  background-color: #04e5fe;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  border-radius: 20px;
  margin-top: 20px;
  width: 95%;
}

label {
  color: #04e5fe;
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
  margin-left: 10px;
}

button[type="reset"] {
  background-color: #dc3545;
  margin-left: 10px;
}

button[type="reset"]:hover {
  background-color: #a50818;
  margin-left: 10px;
}

footer {
  background: rgb(17, 93, 168);
  color: white;
  text-align: center;
  width: 100%;
}
